<template>
  <section class="container">
    <div>
      <bison-logo/>
      <h2 class="title">{{ title }}</h2>
      <h2 class="subtitle">{{ subtitle }}</h2>
      <div class="links">
        <a
          v-for="link in links" 
          v-bind:key="link.id"
          :href="`${link.url}`"
          :class="`${link.class}`"
          target="_blank"
          >
          {{ link.title }}
        </a>
      </div>
      <div class="social">
        <a
          v-for="social in socialLinks" 
          v-bind:key="social.id"
          :href="`${social.url}`"
          target="_blank"
          >
          <img :src="`${social.image}`"  :alt="`${social.title }`" />
        </a>
      </div>
      <p
        v-for="blurb in blurbs" 
        v-bind:key="blurb.id"
        class="blurb"
        >
        {{ blurb.text }}
        <a
          :href="`${blurb.url}`"
          target="_blank"
          >
          {{ blurb.linktext }}
        </a>
      </p>
    </div>
  </section>
</template>

<script>
import BisonLogo from '~/components/BisonLogo.vue'

export default {
  components: {
    BisonLogo
  },
  head () {
    return {
      title: 'Tim Skaggs - Dev Manager, Senior Developer, Outside stuff',
      meta: [
        { hid: 'description', name: 'description', content: 'Code + Outside' },
        { property: 'twitter:card', content: 'summary' },
        { property: 'twitter:site', content: '@tskaggs' },
        { property: 'twitter:url', content: 'https://timskaggs.com/' },
        { property: 'og:description', content: 'From being a first employee at a startup in the Bay Area to taking on the responsibility as VP of Engineering. I now work with a few talented developers in Colorado as a full-stack dev team. Our team is interdisciplinary in designing and development.' },
        { property: 'og:title', content: 'Tim Skaggs - Dev Manager, Senior Developer, Outside stuff' },
        { property: 'og:image', content: 'https://timskaggs.com/logo.jpg' },
      ]
    }
  },
  data () {
    return {
      title: 'Tim Skaggs',
      subtitle: 'Code + Outside',
      links: [
        {
          id: 0,
          title: 'P-Dub Labs',
          class: 'button--green',
          url: 'https://pdublabs.com/'
        },
        {
          id: 1,
          title: 'Pathwrangler',
          class: 'button--grey',
          url: 'https://pathwrangler.com/'
        },
      ],
      socialLinks: [
        {
          id: 0,
          title: 'Twitter',
          image: require(`~/assets/twitter.svg`),
          url: 'https://twitter.com/tskaggs'
        },
        {
          id: 1,
          title: 'LinkedIn',
          image: require(`~/assets/linkedin.svg`),
          url: 'https://www.linkedin.com/in/tim-skaggs/'
        },
        {
          id: 2,
          title: 'AngelList',
          image: require(`~/assets/angellist.png`),
          url: 'https://angel.co/tskaggs'
        },
        {
          id: 3,
          title: 'GitHub',
          image: require(`~/assets/github.svg`),
          url: 'https://github.com/tskaggs'
        },
        {
          id: 4,
          title: 'GitLab',
          image: require(`~/assets/gitlab.png`),
          url: 'https://gitlab.com/tskaggs'
        },
        {
          id: 5,
          title: 'Medium',
          image: require(`~/assets/medium.png`),
          url: 'https://medium.com/@tskaggs'
        },
      ],
      blurbs: [
        {
          id: 0,
          text: 'Bison head inspired by',
          linktext: 'Stevan Rodic',
          url: 'https://dribbble.com/shots/2537526-Buffalo'
        },
        {
          id: 1,
          text: '',
          linktext: 'Open-sourced here at GitLab.',
          url: 'https://gitlab.com/tskaggs/personal-nuxtjs'
        },
      ]
    }
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 60px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.blurb {
  margin: 15px 0;
  font-weight: 300;
  font-size: 12px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.blurb a {
  text-decoration: none;
  color: #35495e;
}

.links {
  padding-top: 15px;
}
</style>
